<p>
  <b>Name:</b>
  <%=h @project.name %><br/>
  <%=h @project.description %>
</p>

<p>
  <b>Story Count:</b>
  <%=h @project.story.count %><br/>  
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>