<h1>New project</h1>

<% form_for(@story) do |f| %>
  <%= f.error_messages %>

   <p>
     <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>

    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>